---
import { Picture } from 'astro:assets';
import { ViewTransitions } from 'astro:transitions';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import RichBody from '../components/RichBody.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import {DefaultSiteFeatureImage} from '../services'
const maxWidth = 1000
const imgRatio = DefaultSiteFeatureImage.width && DefaultSiteFeatureImage.height ?  DefaultSiteFeatureImage.width / DefaultSiteFeatureImage.height : undefined;
const imgW = DefaultSiteFeatureImage?.width ? Math.min(maxWidth, DefaultSiteFeatureImage.width) : undefined
const imgH = DefaultSiteFeatureImage?.height ?  imgRatio ? imgW / imgRatio : DefaultSiteFeatureImage.height: undefined
export const prerender = true;
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image={DefaultSiteFeatureImage.url}/>
		<meta name="google-site-verification" content="sT6LQKFycckoOt4dsf8DTmwDQBGNkZNz4O1zLTVJ0uo" />
		<ViewTransitions />
	</head>
	<RichBody>
		<Header title={SITE_TITLE} />
		<main>
			<Picture
				width={imgW}
				height={imgH}
				src={DefaultSiteFeatureImage?.url}
				formats={['avif', 'webp']}
				densities={[1.5, 2]} 
				alt=""
			/>
			<p>
				<blockquote style="border: none; padding-left:2px;">我希望能够远走，逃离我的所知，逃离我的所有，逃离我的所爱。我想要出发，不是去缥渺幻境中的西印度，不是去远离其他南大陆的巨大海岛，我只是想去任何地方，不论是村庄或者荒原，只要不是在这里就行。我向往的只是不再见到这些人面，不再过这种没完没了的日子。我想做到的，是卸下我已成习惯的伪装，成为另一个我，以此得到喘息。我想要睡意临近之感，这种睡眠是生活的期许而不是生活的休息。靠着海边的一个木棚，甚至崎岖山脉边缘的一个山洞，对于我来说都够了。不幸的是，我在这些事情上从来都是事与愿违。
				</blockquote>
			</p>
			<p>
				——费尔南多·佩索阿<cite>《惶然录》</cite>
			</p>
		</main>
		<Footer />
	</RichBody>
</html>
