---
import {ViewTransitions} from 'astro:transitions';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import RichBody from '../components/RichBody.astro';
import BookList from '../components/cat/BookList.astro'
import PostListWithNav from '../components/cat/PostListWithNav.astro'
const { page, book } = Astro.props;

---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
	</head>
    <RichBody>
      <Header />
      <BookList /> 
      <main>
        <PostListWithNav page={page} book={book} />
        <Footer />
      </main>
    </RichBody>
</html>
